{% extends 'main.html' %}

{% block content %}
<h1>Home Template</h1>

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>


<div class="home-container">

    <div>
        {% include 'base/topiccomponent.html' %}

    </div>

    <div> 
        <h5>{{room_count}} rooms available..</h5>
        <a href="{% url 'krijo-room' %}">Create Room </a>

        {% include 'base/feedcomponent.html' %}

    <div>
        {% include 'base/activitycomponent.html' %}

    </div>

</div>
{% endblock content %}